<div class="container" style="margin-top: 3%">
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col-2">
        <select class="form-control" (change)="changeSearchField($event.target.value)" formControlName="fieldOne">
          <option *ngFor="let field of formFields" [value]="field.value">{{field.label}}</option>
        </select>
      </div>
      <div class="col-10">
        <span *ngIf="searchMode==='text'">
          <input class="form-control" formControlName="valueOne">
        </span>
        <span *ngIf="searchMode==='keyword'">
          <select class="form-control" formControlName="valueOne">
            <option *ngFor="let field of searchSelect">{{field}}</option>
          </select>
        </span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-2">
        <select class="form-control"formControlName="operation">
          <option value="AND">AND</option>
          <option value="OR">OR</option>
          <option value="NOT">NOT</option>
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-2">
        <select class="form-control" (change)="changeSearchField2($event.target.value)" formControlName="fieldSecond">
          <option *ngFor="let field of formFields" [value]="field.value">{{field.label}}</option>
        </select>
      </div>
      <div class="col-10">
        <span *ngIf="searchMode2==='text'">
          <input class="form-control" formControlName="valueSecond">
        </span>
        <span *ngIf="searchMode2==='keyword'">
          <select class="form-control" formControlName="valueSecond">
            <option *ngFor="let field of searchSelect2">{{field}}</option>
          </select>
        </span>
      </div>
    </div>
    <br>
    <div class="row" style="float:right">
      <div class="col-1">
        <button class="btn btn-primary" (click)="search()"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </form>
  <br>
  <div style="margin-top: 3%" *ngIf="searchValue">
    <hr>
    <div *ngFor="let document of searchValue">
      <div style="margin-top: 2%" class="card">
        <h5 class="card-header">{{document.title}}</h5>
        <div class="card-body">
          <p *ngIf="document.hightlight!='...'" class="card-text" [innerHTML]="document.hightlight"></p>
          <p *ngIf="document.hightlight==='...'" class="card-text">{{document.keywords}}</p>
          <p *ngIf="document.hightlight==='...'" class="card-text">{{document.documentAbstract}}</p>
          <button class="btn btn-primary" (click)="download(document.path, document.title)" ><i class="fa fa-download"></i> Preuzmi</button>
        </div>
      </div>
    </div>
  </div>
</div>